name: J2ObjC Build

on: [push]

jobs:
  build:
    runs-on: macos-latest

    strategy:
      matrix:
        target:
          - Debug
          - Release

    env:
      RUN_TARGET: ${{ matrix.target }}
      AZ_TOKEN: ${{ secrets.AZ_TOKEN }}

    steps:
      - uses: actions/checkout@v1

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Download J2Objc
        run: |
          wget -q https://github.com/google/j2objc/releases/download/2.5/j2objc-2.5.zip
          unzip -q j2objc-2.5.zip
          echo "j2objc.home=./j2objc-2.5/" > local.properties

      - name: Build with Gradle
        run: ./gradlew -b j2objc.gradle clean :j2objcAssemble${RUN_TARGET} -x test

      - name: Push Binary
        run: |
          git config --global user.email "a.urusihara@gmail.com"
          git config --global user.name "Akihiro Urushihara"
          cd ./build/j2objcOutputs/
          git init
          git checkout -b ${RUN_TARGET}
          git add --all
          git commit -m "by GitHub Action CI (SHA ${GITHUB_SHA})"
          git remote add origin https://${AZ_TOKEN}@dev.azure.com/SocialHub/ObjCBinary/_git/ObjCBinary
          git push -f origin ${RUN_TARGET}